[Unit]
Description=Zeppelin notebook

[Service]
Type=simle
PIDFile=/var/run/zeppelin-notebook.pid
ExecStart=/bin/bash -c "sudo /opt/zeppelin/bin/zeppelin-daemon.sh start"
ExecStop=/bin/bash -c "sudo /opt/zeppelin/bin/zeppelin-daemon.sh stop"
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/zeppelin

[Install]
WantedBy=multi-user.target