@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
html,
body {
  height: 100%;
}
sd-navbar {
  display: block;
  position: relative;
  z-index: 3;
  background: #fff;
}
button {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.primary_color {
  color: #337ab7;
}
.success_color {
  color: #5cb85c;
}
.info_color {
  color: #5bc0de;
}
.warning_color {
  color: #f0ad4e;
}

.danger_color {
  color: #d9534f;
}
.btn {
  font-size: 16px;
}

.navbar-toggle {
  display: block;
  float: none;
  display: inline-block;
}
.dropdown-menu {
  margin-left: 15px;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-top: -7px;
}
.navbar-logo img {
  width: 65px;
}
.btn-logout {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  background: #383838;
  border: 0;
  color: #cfdae6;
  padding: 0px 28px;
}
.btn-logout:hover {
  color: #cfdae6;
}
.navbar {
  border-radius: 0;
}
.dashboard_table {
  width: 100%;
}
.dashboard_table th {
  background: #a1b7d1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 11px 15px;
  font-size: 12px;
}

.dashboard_table .th_status {
  width: 16%;
}
.dashboard_table .th_shape {
  width: 17%;
}
.dashboard_table .th_resources {
  width: 32%;
}
.dashboard_table .th_actions {
  width: 8%;
}
.navbar {
  min-height: 48px;
  margin-bottom: 12px;
}
.navbar .navbar-toggle {
  border: 0;
  padding: 8px;
  margin-left: -9px;
  margin-right: 10px;
}

.sub_nav .btn {
  background: none;
  border: 1px solid #333;
  font-weight: 600;
  padding: 6px 25px;
  min-width: 165px;
  margin-bottom: 12px;
}
.sub_nav .btn .glyphicon {
  margin-right: 4px;
}
.sub_nav .btn_create {
  border-color: #35afd5;
  color: #35afd5;
}

.modal-header {
  background: #f6fafe;
  border-bottom: 1px solid #edf1f5;
}
.modal-body {
  padding: 35px 15px;
}
.modal-header .modal-title {
  font-weight: 600;
  color: #455c74;
  font-size: 18px;
}
.modal .control-label {
  font-size: 14px;
  font-weight: 600;
  color: #718ba6;
  margin-top: 6px;
}
.modal .form-control {
  font-size: 16px;
  color: #455c74;
}
.modal .form-group small {
  font-size: 12px;
  color: #9cadbe;
}
.modal .btn-success {
  margin-left: 40px;
}
.modal .btn {
  min-width: 140px;
  margin-top: 20px;
}
.modal-content {
  border-radius: 3px;
  overflow: hidden;
}
.modal-header .close {
  margin-top: 3px;
}
