@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
html,
body {
  height: 100%;
}
sd-navbar {
  display: block;
  position: relative;
  z-index: 3;
  background: #fff;
}
button {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.primary_color {
  color: #337ab7;
}
.success_color {
  color: #5cb85c;
}
.info_color {
  color: #5bc0de;
}
.warning_color {
  color: #f0ad4e;
}

.danger_color {
  color: #d9534f;
}
.btn {
  font-size: 16px;
}

.navbar-toggle {
  display: block;
  float: none;
  display: inline-block;
}
.dropdown-menu {
  margin-left: 15px;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-top: -7px;
}
.navbar-logo img {
  width: 65px;
}
.btn-logout {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  background: #383838;
  border: 0;
  color: #cfdae6;
  padding: 0px 28px;
}
.btn-logout:hover {
  color: #cfdae6;
}
.navbar {
  border-radius: 0;
}
.navbar {
  min-height: 48px;
  margin-bottom: 12px;
}
.navbar .navbar-toggle {
  border: 0;
  padding: 8px;
  margin-left: -9px;
  margin-right: 10px;
}

.sub_nav .btn {
  background: none;
  border: 1px solid #333;
  font-weight: 600;
  padding: 6px 25px;
  min-width: 165px;
  margin-bottom: 12px;
}
.sub_nav .btn .glyphicon {
  margin-right: 4px;
}
.sub_nav .btn_create {
  border-color: #35afd5;
  color: #35afd5;
}
.navbar .btn-logout {
  margin-top: 0;
}

.modal .btn {
  margin-top: 20px;
}
.modal .modal-footer .btn {
  margin-top: 0;
}
