#idea stuff
*.iml
.idea
target

#eclipse stuff
.classpath
.project
.settings
/automation/bin
/services/common/bin
/services/security-service/bin
/automation/test-output
/automation/log
/automation/*.log
keys
