<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job:&#xd;
- terminates emr cluster&#xd;
- cleans up s3 buckets&#xd;
- remove notebook kernels</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>emr_name</name>
          <description>name of the EMR cluster</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tag_value_name</name>
          <description>value of the special tag of the notebook servers</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/bin/python /usr/local/bin/terminate_aws_resources.py --resource_name=EMR --emr_name=$emr_name  --tag_value_name=$tag_value_name</command>
    </hudson.tasks.Shell>
  </builders>
</project>
