.dashboard_table tr td {
  font-size: 14px;
  padding: 26px 14px;
}
.dashboard_table tr td,
.dashboard_table tr th {
  border-right: 1px solid #d5dfea;
  border-bottom: 1px solid #d5dfea;
}
.dashboard_table tr td:last-child {
  text-align: center;
}
.dashboard_table tr td:first-child {
  background: #f3fbfd;
  color: #455c74;
  font-weight: 600;
  font-size: 16px;
}
.dashboard_table tr:nth-child(2n+1){
  background: #f9fafb;
}
.dashboard_table tr:nth-child(2n+1) td:first-child {
  background: #edf6f9;
}

.dashboard_table .running {
  color: #49af38;
}
.dashboard_table .stopped {
  color: #f7b500;
}
.dashboard_table .glyphicon-remove {
  color: #f05141;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-left: 34px;
}
.dashboard_table .glyphicon-cog {
  font-size: 16px;
}
.dashboard_table .no_details {
  color: #bdc9d5;
}
.dashboard_table .glyphicon {
  cursor: pointer;
}
.dashboard_table .dropdown-menu {
  left: auto;
  margin-left: 0;
  right: 15px;
  padding: 5px 15px;
}
.dashboard_table .dropdown-menu li {
  font-size: 14px;
  border-bottom: 1px solid #edf1f5;
  padding: 12px 15px;
  cursor: pointer;
  margin: 0 -15px
}
.dashboard_table .dropdown-menu li:hover {
  background: #f9f9f9;
}
.dashboard_table .dropdown-menu li:last-child {
  border-bottom: 0;
}
.dashboard_table .dropdown-menu ul {
  margin-bottom: 0;
}
