<div class="dropdown-multiselect btn-group" click-outside (clickOutside)="onClickOutside($event)">

  <button data-toggle="dropdown" type="button" class="dropdown-toggle btn" (click)="toggleDropdown()">
    <span *ngIf="model.length == 0">Select {{type}}</span>
    <span *ngIf="model.length != 0">Selected {{model.length}} items</span>
    <span class="caret-btn">&#9663;</span>
  </button>

  <ul class="dropdown-menu" [style.display]="isOpen ? 'block' : 'none'">
    <li class="filter-actions">
      <a (click)="selectAllOptions($event)">
        <i class="glyphicon glyphicon-ok"></i>&nbsp;
          All
      </a>
    </li>
    <li class="filter-actions">
      <a (click)="deselectAllOptions($event)">
        <i class="glyphicon glyphicon-remove"></i>&nbsp;
        None
      </a>
    </li>
      <template let-item ngFor [ngForOf]="items">
        <li role="presentation">
          <a href="#" role="menuitem" (click)="toggleSelectedOptions($event, model, item)">
            <span class="glyphicon" [class.glyphicon-ok]="model.indexOf(item) >= 0"></span>
            {{item}}
          </a>
        </li>
      </template>
    <li *ngIf="items.length == 0">
      <a role="menuitem">
        <span class="glyphicon glyphicon-eye-close"></span>
        No {{type}}
      </a>
    </li>
  </ul>
</div>
