<div class="login_page">
  <div class="content">
    <a href="#" class="logo">
      <img src="assets/img/logo.png" alt="">
    </a>
    <div class="form_wrap">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </span>
          <input type="text" #username class="form-control" placeholder="Username">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          </span>
          <input type="password" #password class="form-control" placeholder="Password">
        </div>
        <button type="submit" (click)="onSubmit(username.value, password.value)" class="btn btn-info pull-right">Login</button>
    </div>
  </div>
</div>