[Unit]
Description=Zeppelin notebook

[Service]
Type=simple
PIDFile=/var/run/zeppelin/zeppelin-notebook-%H.pid
ExecStart=/opt/zeppelin/bin/zeppelin-daemon.sh start
ExecStop=/opt/zeppelin/bin/zeppelin-daemon.sh stop
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/zeppelin

[Install]
WantedBy=multi-user.target