<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description>This job terminates notebook server(s)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>notebook_name</name>
          <description>value of the "NAME" tag of the notebook servers</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>notebook_tag_value_name</name>
          <description>value of the "special tag" of the notebook servers</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/bin/python /usr/local/bin/terminate_ notebook.py --resource_name=EC2 --notebook_name=$notebook_name --notebook_tag_value_name=$notebook_tag_value_name</command>
    </hudson.tasks.Shell>
  </builders>
</project>
