<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Create new EMR Cluster</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Cluster_Name</name>
          <description>Preferred name for your new cluster</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Nodes_Count</name>
          <description>Number of nodes the new cluster will consist of</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Node_size</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>m4.large</string>
              <string>m4.xlarge</string>
              <string>m4.2xlarge</string>
              <string>m4.4xlarge</string>
              <string>m4.10xlarge</string>
              <string>m3.medium</string>
              <string>m3.large</string>
              <string>m3.xlarge</string>
              <string>m3.2xlarge</string>
              <string>c4.large</string>
              <string>c4.xlarge</string>
              <string>c4.2xlarge</string>
              <string>c4.4xlarge</string>
              <string>c4.8xlarge</string>
              <string>c3.large</string>
              <string>c3.xlarge</string>
              <string>c3.2xlarge</string>
              <string>c3.4xlarge</string>
              <string>c3.8xlarge</string>
              <string>g2.2xlarge</string>
              <string>g2.8xlarge</string>
              <string>r3.large</string>
              <string>r3.xlarge</string>
              <string>r3.2xlarge</string>
              <string>r3.4xlarge</string>
              <string>r3.8xlarge</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Service_role</name>
          <description></description>
          <defaultValue>EMR_DefaultRole</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMR_EC2_role</name>
          <description></description>
          <defaultValue>EMR_EC2_DefaultRole</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Release_label</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>emr-4.3.0</string>
              <string>emr-4.6.0</string>
              <string>emr-4.8.0</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Notebook_IP</name>
          <description>The private IP address of the Notebook server</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>User_name</name>
          <description></description>
          <defaultValue>ubuntu</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Subnet</name>
          <description>You should specify the same subnet CIDR as for Notebook</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/bin/python /usr/local/bin/create_cluster.py --name $Cluster_Name --instance_type $Node_size --instance_count $Nodes_Count --release_label $Release_label --ec2_role $EMR_EC2_role --service_role $Service_role --nbs_ip $Notebook_IP --nbs_user $User_name --subnet $Subnet</command>
    </hudson.tasks.Shell>
  </builders>
</project>
