<div class="source">
  <span *ngIf="resources.length" class="glyphicon glyphicon-remove"></span>
  <span *ngIf="!resources.length" class="no_details">no details</span> {{resources[0]}}
  <span *ngIf="resources.length"
        class="glyphicon pull-right"
        [ngClass]="{'glyphicon-triangle-bottom': !collapse, 'glyphicon-triangle-top': collapse}"
        (click)="toggleResourceList()">
  </span>
</div>
<div *ngIf="collapse" class="source">
  <div *ngFor="let resource of resources | slice:1">
    <span class="glyphicon glyphicon-remove"></span> {{resource}}
  </div>
</div>
