<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~         Licensed to the Apache Software Foundation (ASF) under one or more
  ~         contributor license agreements. See the NOTICE file distributed with
  ~         this work for additional information regarding copyright ownership.
  ~         The ASF licenses this file to You under the Apache License, Version 2.0
  ~         (the "License"); you may not use this file except in compliance with
  ~         the License. You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~         Unless required by applicable law or agreed to in writing, software
  ~         distributed under the License is distributed on an "AS IS" BASIS,
  ~         WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~         See the License for the specific language governing permissions and
  ~         limitations under the License.
  -->

<project>
  <actions/>
  <description>Create EDGE node</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Service_base_name</name>
          <description>unique infrastructure value that previously was used when ssn being provisioned</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Username</name>
          <description>name of the scientist</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IAM_user</name>
          <description>Name of IAM user</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SSH_Key_Name</name>
          <description>name of the uploaded ssh key file (without ".pem")</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SSN_SG_ids</name>
          <description>The ID of the SSN Security Group to be accessible</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vpc_id</name>
          <description>id of VPC where infrastructure is being deployed </description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>subnet_id</name>
          <description>id of the public subnet where EDGE will be deployed</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ami_id</name>
          <description>id of the default image with Ubuntu 16.04</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>instance_shape</name>
          <description>value of the EDGE EC2 instance shape</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>t2.medium</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Region</name>
          <description>aws region where infrastructure was deployed</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>us-west-2</string>
              <string>us-west-1</string>
              <string>eu-west-1</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Action</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>create</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rand=`openssl rand -hex 10`;
                sudo docker run -i -v /home/ubuntu/keys:/root/keys -v /project_images/${SSH_Key_Name}.pem:/root/keys/${SSH_Key_Name}.pem -v /home/ubuntu:/response -e &quot;request_id=${rand}&quot; -e &quot;creds_region=${Region}&quot; -e &quot;edge_vpc_id=${vpc_id}&quot; -e &quot;edge_ami_id=${ami_id}&quot;  -e &quot;edge_instance_size=${instance_shape}&quot; -e &quot;creds_subnet_id=${subnet_id}&quot; -e &quot;conf_service_base_name=${Service_base_name}&quot; -e &quot;edge_user_name=${Username}&quot; -e &quot;creds_iam_user=${IAM_user}&quot; -e &quot;creds_security_groups_ids=${SSN_SG_ids}&quot; -e &quot;creds_key_name=${SSH_Key_Name}&quot; docker.epmc-bdcc.projects.epam.com/dlab-aws-edge --action $Action ;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>